/*============================ import-font-link ============================================*/
/*---------------------- poppins---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*===================================== Utilities or common css ===============================*/
body{
    font-family: 'Poppins', sans-serif;
}
.c-font-w6{
    font-weight: 600;
}
.c-font-w5{
    font-weight: 500;

}
.c-font-w3{
    font-weight: 300;
}
.c-heading-1{
    font-size: 3rem;
}
/* =================================== Header-section-css =================================== */
#header-area{
    background-color:  #264653;
    color: #fff;
}

.c-button-bg{
    background-color: #E76F51;
}

/*====================================== Main-section-css=============================== */
.c-hr-style{ 
    width: 60px;
    border: 1px solid rgb(251, 62, 62);   
}
.c-s-gray{
    filter: grayscale(0.9);
}