/*============================ import-font-link ============================================*/
/*---------------------- poppins---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*===================================== Utilities or common css ===============================*/
body{
    font-family: 'Poppins', sans-serif;
}

/* =================================== Header-section-css =================================== */
#header-area{
    background-color:  #264653;
    color: #fff;
}
.c-font-w6{
    font-weight: 600;
}
.c-font-w5{
    font-weight: 500;

}
.c-font-w3{
    font-weight: 300;
}
.c-button-bg{
    background-color: #E76F51;
}