/*============================ import-font-link ============================================*/
/*---------------------- poppins---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*===================================== Utilities or common css ===============================*/
body{
    font-family: 'Poppins', sans-serif;
}
.c-font-w6{
    font-weight: 600;
}
.c-font-w5{
    font-weight: 500;

}
.c-font-w3{
    font-weight: 300;
}
.c-heading-1{
    font-size: 3rem;
}
.c-heading-2{
    font-size: 1.75rem;
}
.c-section-gap{
    margin-bottom: 7rem;
}
.c-dark-gray{
    color: #252B42;
}
.c-gray{
    color: #6C6C6C;
}
.c-off-white{
    color: #dfdfdf;
}
.c-orange{
    color: #E76F51;
}

.c-fade-black{
    color: #0D0925;
}

.c-rating{
    font-size: 1.15rem;
}

/* =================================== Header-section-css =================================== */
#header-area{
    background-color:  #264653;
    color: #fff;
}

.c-button-bg{
    background-color: #E76F51;
}

/*====================================== Main-section-css=============================== */
.c-hr-style{ 
    width: 60px;
    border: 1px solid rgb(251, 62, 62);   
}
.c-s-gray{
    filter: grayscale(0.9);
}
.c-width{
    width: 8.5rem;
    height: 8.5rem;
}
.c-accordion-h{
    color: #383838;
}
/* ==================================== Footer-section =======================================*/
.c-footer-gray{
    color: #D9DBE1;
} 
.c-footer-logo{
    width: 8.2rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 3px solid #fff;
}